html {
  height: 100vh;
}

body {
  height: 100vh;
  color: white;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

button {
  background-color: black;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

button:hover {
  background-color: white;
  color: black;
}

input {
  background-color: black;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

input:hover {
  background-color: white;
  color: black;
}
