doctype html
html
    head
        title Compare
    body
        h1  You have reached compare!
        if length
            h2 Same length.
            if change
                h2 These items have new prices
                ul
                    each price in prices
                        li= 'Number: ' + price.ItemNumber + ', New Price: ' + price.Pricing
            else 
                h2 The prices haven't changed
        else
            h2 Length different.
            ul
                each price in prices
                        li= 'Number: ' + price.ItemNumber + ', New Price: ' + price.Pricing
        button(onclick="makeRequest()") Back to home

        script
            include comparejs.js