doctype html
html
    head
        title Home Page
        style
          include ../css/main.css
    body
        h1 Welcome!

        p To start, please click below:
        br
        button(type="submit" onclick="StartProcess()") Compare Price Lists Now!

        script
            include ../js/home.js
