doctype html
html
    head
        title Home Page
        style
          include ../css/main.css
    body.centered-wrapper
        div.centered-content
          h1 Welcome!

          p To start, please select an option below:
          br
          button(type="submit" onclick="StartProcess()") Compare Price Lists
          br
          button.spaceAbove(type="submit" onclick="StartStockProcess()") Compare Stock Sheets
          br
          button.spaceAbove(type="submit" onclick="StartStockProcessCompare()") Compare Stock Sheet Outputs

        script
            include ../js/home.js
