doctype html
html
    head
        title Home Page
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        h1 Welcome!

        p Please select a supplier below:
        br
        button(type="submit" onclick="PriceLists()") Lite Optec

        script
            include ../js/index.js