doctype html
html
    head
        title Home Pages
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        h1 Welcome!

        p To start the process, please click below:
        br
        button(type="submit" onclick="PriceLists()") Start

        script
            include ../js/index.js
