<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1><%= text %></h1>

    <p>Please enter your Zoho client ID here:</p>
    <input type="text"></input>
    <button type="submit" onclick="MakeRequest()">Submit</button>

    <script>
        function MakeRequest() {
            window.location.replace("https://futurama-app.herokuapp.com/get")
        }
    </script>
</body>
</html>