doctype html
html
    head
        title Home Page
        style
          include ../css/main.css
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        h1 Welcome!

        p Please select a supplier below:
        br
        button(type="submit" onclick="PriceLists()") Start

        script
            include ../js/index.js
