doctype html
html
  head
    title Testing Old
      
  body
    h1 Old Price List
    p Please upload the old price list here:
    form(action="/test", enctype="multipart/form-data", method="post")
      input(type="file", name="old-sheet", multiple="multiple")
      input(type="submit", value="Upload")
