doctype html
html
    head
        title Price List Selection
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body
        p Select your price list to check:

        button(type="submit" onclick="LiteOptec()") Lite Optec

        script
            include ../js/prices.js