doctype html
html
  head
    title Removals Sheet
    style
      include ../css/main.css
  body.centered-wrapper
    div.centered-content
      h1 Dear
      p Please upload the removals sheet here:
      form(action="/stocksheets/removals", enctype="multipart/form-data", method="post")
        input(type="file", name="removals-sheet", multiple="multiple")
        input(type="submit", value="Upload")

    script
      include ../js/pricelist.js