doctype html
html
    head
        title Response
    body
        h1  This is the stock:
        ul
            each stock in oldStock.records
                li= stock.ItemNumber

        button(onclick="makeRequest()") Again

        script
            include responsejs.js