doctype html
html
  head
    title Schalk's Stock Sheet
    style
      include ../css/main.css
  body.centered-wrapper
    div.centered-content
      h1 Schalk
      p Please upload the Schalk stock sheet here:
      form(action="/stocksheets/schalk", enctype="multipart/form-data", method="post")
        input(type="file", name="schalk-sheet", multiple="multiple")
        input(type="submit", value="Upload")
      br
      p Warning, do not click the following button until the process has completed and your sheet has been downloaded!
      br
      button(type="submit" onclick="home()") Back to home...

    script
      include ../js/pricelist.js